<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form >
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" ><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" >
            <input type="submit" value="Crear PDF!">
        </form>

<script>
        alert("Éxito en el formulario!");
</script>
</body>
</html>